{{#section 'css'}}
<title>Quản lý</title>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
{{/section}}

{{#section 'js'}}
<script>
    const title1 = 'Category'; const title2 = 'Quản lý chuyên mục'; const title3 = 'Quản lý chuyên mục';
    const id1 = document.getElementById('title1'); const id2 = document.getElementById('title2'); const id3 = document.getElementById('title3');
    id1.innerHTML = title1; id2.innerHTML = title2; id3.innerHTML = title3;
</script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="/assets/admin/js/getlistcat2.js"></script>

<script>
    function myfunction() {
        var keyCat1 = document.getElementById('cat1').value;
        var keyCat2 = document.getElementById('cat2').value;
        // alert(keyCat1+keyCat2);
        if (keyCat1 == 'all') {
            window.location.href = "/admin/view/cat";
            return;
        }
        else if (keyCat2 == 'all') {
            window.location.href = "/admin/view/cat/" + keyCat1;
            return;
        }
        else {
            window.location.href = "/admin/view/cat/" + keyCat1 + "/" + keyCat2;
            return;
        }
    }
</script>

<script>
    /**
 * sends a request to the specified url from a form. this will change the window location.
 * @param {string} path the path to send the post request to
 * @param {object} params the parameters to add to the url
 * @param {string} [method=post] the method to use on the form
 */

    function post(path, params, method = 'post') {

        // The rest of this code assumes you are not using a library.
        // It can be made less verbose if you use one.
        const form = document.createElement('form');
        form.method = method;
        form.action = path;

        for (const key in params) {
            if (params.hasOwnProperty(key)) {
                const hiddenField = document.createElement('input');
                hiddenField.type = 'hidden';
                hiddenField.name = key;
                hiddenField.value = params[key];

                form.appendChild(hiddenField);
            }
        }

        document.body.appendChild(form);
        form.submit();
    }
    function Delete_post() {
        var id = document.getElementById('postid').value;
        var url = "/admin/del/cat/"+id;
        var report = "delete-post-id-"+id;
        post(url, {name: 'delete-post-id-'});
    }
    function setid(newId) {
        console.log("1");
        document.getElementById('postid').value = newId;
    }
</script>
<script>
    $("#li_1").addClass('active');
</script>
{{/section}}
<main>

    <input type="text" id="postid" style="display: none;" value="">

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading" style="display: flex;">

                    <p>Lọc</p>

                </div>

                <div class="panel-body">
                    <div class="col-lg-2">
                        <select class="form-control" aria-label="Default select example" id="cat1"
                            onchange="getval(this);">
                            <option value="all" selected>Tất cả</option>
                            {{#each lcCategory}}
                            <option value="{{keyCat1}}">{{nameCat1}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="col-lg-2" style="display: none;">
                        <select class="form-control" aria-label="Default select example" id="cat2">
                            <option value="all" selected>Tất cả</option>
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-success" onclick="myfunction()">Tìm kiếm</button>
                    </div>
                </div>




            </div><!-- /.panel-->

            <div class="panel-heading" style="display: flex;">
                <p id='title3'></p>
            </div>
        </div><!-- /.panel-->
        <div class="col-lg-12">
            <div class="table-responsive">
                <table id="mytable" class="table table-bordred table-striped">
                    <thead>
                        <th>Key</th>
                        <th>Chuyên Mục cấp 1</th>
                        <th>Quản Lý</th>
                        <th style="text-align: center;">Số lượng chuyên mục cấp 2</th>
                        <th style="text-align: center;">Số lượng bài viết Premium</th>
                        <th style="text-align: center;">Số lượng bài viết bình thường</th>
                        <th style="text-align: center;">Chỉnh sửa</th>
                        <th style="text-align: center;">Xóa</th>
                    </thead>
                    <tbody>

                        {{#each this.db}}
                        <tr>
                            <td>{{keyCat1}}</td>
                            <td>{{nameCat1}}</td>
                            <td>{{adminCat}}</td>
                            <td style="text-align: center;">{{amountCat2}}</td>
                            <td style="text-align: center;">{{amountPre}}</td>
                            <td style="text-align: center;">{{amountNor}}</td>
                            <td style="text-align: center;">
                                <p data-placement="top" data-toggle="tooltip" title="Edit">
                                    <a href="/admin/edit/cat/{{keyCat1}}" class="btn btn-primary btn-xs"
                                        data-title="Edit">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                </p>
                            </td>

                            <td style="text-align: center;">
                                <button type="button" class="btn btn-danger btn-xs" data-title="Delete" id="btndelete" 
                                onclick="setid('{{keyCat1}}');"
                                    data-toggle="modal" data-target="#delete"><span
                                        class="glyphicon glyphicon-trash"></span></button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <div class="col-lg-12" style="text-align: center;">
                    <a href="/admin/add/cat" class="btn btn-success">Thêm chuyên mục cấp 1</a>
                </div>
            </div>
        </div>
    </div><!-- /.col-->
    </div><!-- /.row -->
    {{!-- page=8 --}}

    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
                            class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
                </div>
                <div class="modal-body">

                    <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure
                        you want to delete this Record?</div>

                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
                    <button type="button" class="btn btn-danger" onclick="Delete_post();">Delete</button>

                </div>
            </div>


            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</main>