{{#section 'css'}}
<title>Quản lý chuyên mục</title>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
{{/section}}

{{#section 'js'}}
<script>
    const title1 = 'Category'; const title2 = 'Quản lý chuyên mục cấp 1'; const title3 = 'Category';
    const id1 = document.getElementById('title1'); const id2 = document.getElementById('title2'); const id3 = document.getElementById('title3');
    id1.innerHTML = title1; id2.innerHTML = title2; id3.innerHTML = title3;
</script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="/assets/admin/js/getlistcat2.js"></script>

<script>
    function myfn(page) {
        alert(page);
        page = +page + 1;
        window.location.href = "/admin/view/cat?page=" + String(page);
    }
</script>
<script>
    function myfunction() {
        var keyCat1 = document.getElementById('cat1').value;
        var keyCat2 = document.getElementById('cat2').value;
        // alert(keyCat1+keyCat2);
        if (keyCat1 == 'all') {
            window.location.href = "/admin/view/cat";
            return;
        }
        else if (keyCat2 == 'all') {
            window.location.href = "/admin/view/cat/" + keyCat1;
            return;
        }
        else {
            window.location.href = "/admin/view/cat/" + keyCat1 + "/" + keyCat2;
            return;
        }
    }
</script>
<script>
    $("#cat1").val($("#keycat1").val()).change();
</script>
<script>
    function href_edit(key2) {
        console.log(key2);
        var key1 = $("#keycat1").val();
        var url = "/admin/edit/cat/" + key1 + "/" + key2
        window.location.href = url;

    }
</script>
<script>
    $(document).ready(function () {
        
        var successMessage = '{{successMsg}}';
        if (successMessage.length !== 0) {
            alert(successMessage)
        }
    })

</script>
{{/section}}
<main>
    <input type="text" name="" id="keycat1" value="{{keycat1}}" style="display: none;">

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading" style="display: flex;">

                    <p>Lọc</p>

                </div>

                <div class="panel-body">
                    <div class="col-lg-2">
                        <select class="form-control" aria-label="Default select example" id="cat1"
                            onchange="getval(this);">
                            <option value="all" selected>Tất cả</option>
                            {{#each lcCategory}}
                            <option value="{{keyCat1}}">{{nameCat1}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="col-lg-2" style="display: none;">
                        <select class="form-control" aria-label="Default select example" id="cat2">
                            <option value="all" selected>Tất cả</option>
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-success" onclick="myfunction()">Tìm kiếm</button>
                    </div>
                </div>




            </div><!-- /.panel-->

            <div class="panel-heading" style="display: flex;">
                <p id='title3'></p>
            </div>
        </div><!-- /.panel-->
        <div class="col-lg-12">
            <div class="table-responsive">
                <table id="mytable" class="table table-bordred table-striped">
                    <thead>
                        <th>Key</th>
                        <th>Chuyên Mục cấp 2</th>
                        <th style="text-align: center;">Số lượng bài viết Premium</th>
                        <th style="text-align: center;">Số lượng bài viết bình thường</th>
                        <th style="text-align: center;">Chỉnh sửa</th>
                        <th style="text-align: center;">Xóa</th>
                    </thead>
                    <tbody>
                        {{#each this.db}}

                        <tr>
                            <td>{{keyCat2}}</td>
                            <td>{{nameCat2}}</td>
                            <td style="text-align: center;">{{amountPre}}</td>
                            <td style="text-align: center;">{{amountNor}}</td>
                            <td style="text-align: center;">
                                <button type="button" class="btn btn-primary btn-xs" data-title="Edit"
                                    onclick="href_edit('{{keyCat2}}')">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </td>
                            <td style="text-align: center;">
                                <button type="button" class="btn btn-danger btn-xs" data-title="Delete"
                                    onclick="setid('abs')" id="btndelete" data-toggle="modal"
                                    data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <div class="col-lg-12" style="text-align: center;">
                    <a href="/admin/add/cat/{{keycat1}}" class="btn btn-success">Thêm chuyên mục cấp 2</a>
                </div>
            </div>
        </div>
    </div><!-- /.col-->
    </div><!-- /.row -->
    {{!-- page=8 --}}
</main>