{{#section 'css'}}
<title>Quản lý bài báo</title>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<style>
    .pagination {
        display: inline-block;
    }

    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        border: 1px solid #ddd;
        /* Gray */
        text-decoration: none;
        transition: background-color .3s;
    }


    .pagination select {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        border: 1px solid #ddd;
        border-top: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        border-left: 1px solid #ddd;
        transition: background-color .3s;
    }

    .pagination select:hover {
        background-color: #ddd;
    }

    .pagination a:hover:not(.active) {
        background-color: #ddd;
    }
</style>
{{/section}}

{{#section 'js'}}
<script>
    const title1 = 'Quản lý bài báo'; const title2 = 'Quản lý bài báo'; const title3 = 'Lọc';
    const id1 = document.getElementById('title1'); const id2 = document.getElementById('title2'); const id3 = document.getElementById('title3');
    id1.innerHTML = title1; id2.innerHTML = title2; id3.innerHTML = title3;
</script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        var table = $('#example').DataTable();
        $('#example tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });

        var premium = $('#premium').val()

    });
</script>



<script>
    function setid(newId) {
        document.getElementById('postid').value = newId;
        alert("post id:");
        alert(document.getElementById('postid').value);
    }
    function selectPage() {
        console.log("click select page##########################################");
        console.log($("#cat1").val());
        var selectBox = document.getElementById("currentPage");
        var selectedValue = selectBox.options[selectBox.selectedIndex].value;
        var urlType = $("#cat1").val();
        var urlType2 = $("#dbkeyCat2").val();
        console.log("/admin/view/post/" + urlType + "/" + urlType2 + "?page=" + selectedValue);
        location.replace("/admin/view/post/" + urlType + "/" + urlType2 + "?page=" + selectedValue);
    }
    var totalPage = parseInt($("#totalPage").val());
    var curPage = parseInt($('#Page').val());
    $('#currentPage').find('option').remove();
    for (let i = 1; i <= totalPage; i++) {
        var newoption = "<option value=\"" + i.toString() + "\"" + ">" + i + '</option>';
        $('#currentPage').append(newoption);
    }
    $('#currentPage').val($('#Page').val());
    var nextpage = curPage + 1;
    var prevpage = curPage - 1;
    $('.disabled').click(function (e) {
        e.preventDefault();
    })
    var urlType = $("#cat1").val();
    var urlType2 = $("#dbkeyCat2").val();
    $('#prevpage').attr("href", "/admin/view/post/" + urlType + "/" + urlType2 + "?page=" + prevpage.toString());
    $('#nextpage').attr("href", "/admin/view/post/" + urlType + "/" + urlType2 + "?page=" + nextpage.toString());
    if (curPage == 1) {
        $('#prevpage').attr("href", "#");
    }
    if (curPage == totalPage) {
        $('#nextpage').attr("href", "#");
    }
</script>
<script src="/assets/admin/js/getlistcat2.js"></script>
<script>
    function myfunction() {
        var keyCat1 = document.getElementById('cat1').value;
        var keyCat2 = document.getElementById('cat2').value;
        // alert(keyCat1+keyCat2);
        if (keyCat1 == 'all') {
            window.location.href = "/admin/view/post";
            return;
        }
        else if (keyCat2 == 'all') {
            window.location.href = "/admin/view/post/" + keyCat1 + "?page=1";
            return;
        }
        else {
            window.location.href = "/admin/view/post/" + keyCat1 + "/" + keyCat2 + "?page=1";
            return;
        }
    }
</script>
<script>
    var value = $("#dbkeyCat1").val();
    //alert(value);
    $("#cat1").val(value).change();
    value = $("#dbkeyCat2").val();
    console.log(value);
    $("#cat2").val(value).change();
    //alert(value);
</script>
<script>
    $("#li_3").addClass('active');
</script>
<script>
    /**
 * sends a request to the specified url from a form. this will change the window location.
 * @param {string} path the path to send the post request to
 * @param {object} params the parameters to add to the url
 * @param {string} [method=post] the method to use on the form
 */

    function post(path, params, method = 'post') {

        // The rest of this code assumes you are not using a library.
        // It can be made less verbose if you use one.
        const form = document.createElement('form');
        form.method = method;
        form.action = path;

        for (const key in params) {
            if (params.hasOwnProperty(key)) {
                const hiddenField = document.createElement('input');
                hiddenField.type = 'hidden';
                hiddenField.name = key;
                hiddenField.value = params[key];

                form.appendChild(hiddenField);
            }
        }

        document.body.appendChild(form);
        form.submit();
    }
    function Delete_post() {
        var id = document.getElementById('postid').value;
        var url = "/admin/del/post/"+id;
        var report = "delete-post-id-"+id;
        post(url, {name: 'delete-post-id-'});
    }
</script>
{{/section}}

<main>
    <input type="text" name="" id="dbkeyCat1" value="{{cat1}}" style="display: none;">
    <input type="text" name="" id="dbkeyCat2" value="{{cat2}}" style="display: none;">
    <input type="number" name="" id="totalPage" value="{{totalPage}}" style="display: none;">
    <input type="number" name="" id="Page" value="{{page}}" style="display: none;">


    <div id='processingCat' style="display: none;">
        {{#each lcCategory}}
        {{#each listCat}}
        <input type="text" name="" id="keyCat1" value="{{../keyCat1}}" style="display: none;">
        <input type="text" name="" id="nameCat1" value="{{../nameCat1}}" style="display: none;">
        <input type="text" name="" id="keyCat2" value="{{keyCat2}}" style="display: none;">
        <input type="text" name="" id="nameCat2" value="{{nameCat2}}" style="display: none;">
        <br>
        {{/each}}
        {{/each}}
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading" style="display: flex;">

                    <p id='title3'></p>

                </div>

                <div class="panel-body">
                    <div class="col-lg-2">
                        <select class="form-control" aria-label="Default select example" id="cat1"
                            onchange="getval(this);">
                            {{#each lcCategory}}
                            <option value="{{keyCat1}}">{{nameCat1}}</option>
                            {{/each}}
                        </select>

                    </div>

                    <div class="col-lg-2">
                        <select class="form-control" aria-label="Default select example" id="cat2">
                            <option value="all" selected>Tất cả</option>
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-success" onclick="myfunction()">Tìm kiếm</button>
                    </div>
                </div>




            </div><!-- /.panel-->
        </div><!-- /.col-->
        <input type="text" id="postid" style="display: none;" value="">
        <div class="col-lg-12">
            {{!-- <h4>Bootstrap Snipp for Datatable</h4> --}}
            <div class="table-responsive">
                <table id="mytable" class="table table-bordred table-striped">
                    <thead>
                        <th>Title</th>
                        <th>Người viết</th>
                        <th>namecat1</th>
                        <th>namecat2</th>
                        <th style="text-align: center;">Permission</th>
                        <th style="text-align: center;">Chỉnh sửa</th>
                        <th style="text-align: center;">Xóa</th>
                    </thead>
                    <tbody>
                        {{#each this.db}}
                        <tr>

                            <td>{{title}}</td>
                            <td>{{nickName}}</td>
                            <td>{{nameCat1}}</td>
                            <td>{{nameCat2}}</td>
                            <td id='premium' style="text-align: center;">{{permission}}</td>


                            <td style="text-align: center;">
                                <p data-placement="top" data-toggle="tooltip" title="Edit">
                                    <a href="/admin/edit/post/{{id}}" class="btn btn-primary btn-xs" data-title="Edit">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                </p>
                            </td>
                            <td style="text-align: center;">
                                <button type="button" class="btn btn-danger btn-xs" data-title="Delete"
                                    onclick="setid('{{id}}')" id="btndelete" data-toggle="modal"
                                    data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button>
                            </td>

                        </tr>
                        {{/each}}
                    </tbody>
                </table>


                <div class="pagination" style="display: flex; justify-content: flex-end;">
                    <a href="#" id="prevpage">&laquo; Previous</a>
                    <select name="" id="currentPage" class="active" style="	appearance: none;"
                        onchange="selectPage({{totalPage}})">
                        <option value="{{page}}" selected>{{page}}</option>
                    </select>
                    <a href="#" onclick="next({{page}})" id="nextpage">Next &raquo;</a>
                </div>
                <div class="col-lg-12" style="text-align: center;">
                    <a href="/admin/add/post" class="btn btn-success">Thêm bài báo</a>
                </div>
            </div>
        </div>
    </div>
    </div><!-- /.row -->
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
                            class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
                </div>
                <div class="modal-body">

                    <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure
                        you want to delete this Record?</div>

                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
                    <button type="button" class="btn btn-danger" onclick="Delete_post();">Delete</button>
                </div>
            </div>


            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</main>