{{#section 'css'}}
<title>Quản lý tài khoản</title>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<style>
    .pagination {
        display: inline-block;
    }

    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        border: 1px solid #ddd;
        /* Gray */
        text-decoration: none;
        transition: background-color .3s;
    }


    .pagination select {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        border: 1px solid #ddd;
        border-top: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        border-left: 1px solid #ddd;
        transition: background-color .3s;
    }

    .pagination select:hover {
        background-color: #ddd;
    }

    .pagination a:hover:not(.active) {
        background-color: #ddd;
    }
</style>
{{/section}}

{{#section 'js'}}
<script>
    const title1 = 'Quản lý tài khoản'; const title2 = 'Quản lý tài khoản'; const title3 = 'Lọc';
    const id1 = document.getElementById('title1'); const id2 = document.getElementById('title2'); const id3 = document.getElementById('title3');
    id1.innerHTML = title1; id2.innerHTML = title2; id3.innerHTML = title3;
</script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>


<script>
    function selectPage() {
        console.log("click select page##########################################");
        console.log($("#urlType").val());
        var selectBox = document.getElementById("currentPage");
        var selectedValue = selectBox.options[selectBox.selectedIndex].value;
        var urlType = $("#urlType").val();

        console.log("/admin/view/user/" + urlType + "?page=" + selectedValue);
        location.replace("/admin/view/user/" + urlType + "?page=" + selectedValue);
    }
    var totalPage = parseInt($("#totalPage").val());
    var curPage = parseInt($('#Page').val());
    $('#currentPage').find('option').remove();
    for (let i = 1; i <= totalPage; i++) {
        var newoption = "<option value=\"" + i.toString() + "\"" + ">" + i + '</option>';
        $('#currentPage').append(newoption);
    }
    $('#currentPage').val($('#Page').val());
    var nextpage = curPage + 1;
    var prevpage = curPage - 1;
    $('.disabled').click(function (e) {
        e.preventDefault();
    })
    var urlType = $("#urlType").val();
    $('#prevpage').attr("href", "/admin/view/user/" + urlType + "?page=" + prevpage.toString());
    $('#nextpage').attr("href", "/admin/view/user/" + urlType + "?page=" + nextpage.toString());
    if (curPage == 1) {
        $('#prevpage').attr("href", "#");
    }
    if (curPage == totalPage) {
        $('#nextpage').attr("href", "#");
    }
</script>
<script src="/assets/admin/js/getlistcat2.js"></script>
<script>
    function myfunction() {
        var userSelected = document.getElementById('userSelect').value;
        window.location.href = "/admin/view/user/" + userSelected + "?page=1";
        return;
    }
    $("#userSelect").val($("#urlType").val());
</script>

<script>
    /**
 * sends a request to the specified url from a form. this will change the window location.
 * @param {string} path the path to send the post request to
 * @param {object} params the parameters to add to the url
 * @param {string} [method=post] the method to use on the form
 */

    function post(path, params, method = 'post') {

        // The rest of this code assumes you are not using a library.
        // It can be made less verbose if you use one.
        const form = document.createElement('form');
        form.method = method;
        form.action = path;

        for (const key in params) {
            if (params.hasOwnProperty(key)) {
                const hiddenField = document.createElement('input');
                hiddenField.type = 'hidden';
                hiddenField.name = key;
                hiddenField.value = params[key];

                form.appendChild(hiddenField);
            }
        }

        document.body.appendChild(form);
        form.submit();
    }
    function Delete_post() {
        var id = document.getElementById('postid').value;
        var url = "/admin/del/user/" + id;
        var report = "delete-user-id-" + id;
        post(url, { name: 'delete-user-id-' });
    }
    function setIdReject(id) {
        //alert(id)
        var url = '/admin/upgarde/reject/' + String(id)
        $('#frmReject').attr('action', url);
    }

    function setIdAccept(id) {
        alert(id)
        var url = '/admin/upgarde/accept/' + String(id)
        $('#frmAccept').attr('action', url);
        //$('#frmAccept').submit()
    }
</script>

<script>
    $(document).ready(function () {
        var successMessage = '{{successMsg}}'
        if (successMessage.length !== 0) {
            alert(successMessage)
        }
    })
</script>
<script>
    $("#li_4").addClass('active');
</script>
{{/section}}

<main>
    <form action="" method="POST" id='frmReject' style="display: none;"></form>
    <form action="" method="POST" id='frmAccept' style="display: none;"></form>

    <input type="text" id="postid" value="" style="display: none;">

    <input type="number" name="" id="totalPage" value="{{totalPage}}" style="display: none;">
    <input type="number" name="" id="Page" value="{{page}}" style="display: none;">
    <input type="text" name="" id="urlType" value="{{this.urlType}}" style="display: none;">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading" style="display: flex;">

                    <p id='title3'></p>

                </div>

                <div class="panel-body">
                    <div class="col-lg-2">
                        <select class="form-control" aria-label="Default select example" id="userSelect">
                            <option value="all" selected>Tất cả</option>
                            <option value="editor">Người kiểm duyệt</option>
                            <option value="writer">Nhà báo</option>
                            <option value="user">Người dùng</option>
                            <option value="upgarde">Người dùng nâng cấp</option>
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-success" onclick="myfunction()">Tìm kiếm</button>
                    </div>
                </div>
            </div><!-- /.panel-->
        </div><!-- /.col-->

        <div class="col-lg-12">
            <div class="table-responsive">
                <table id="mytable" class="table table-bordred table-striped">
                    <thead>
                        <th>Tên đầy đủ</th>
                        <th>Số ngày Premium</th>

                        <th style="text-align: center;">Duyệt</th>
                        <th>Xóa</th>

                    </thead>
                    <tbody>
                        {{#each this.db}}

                        <tr>
                            <td>{{userName}}</td>
                            <td>{{days}}</td>

                            <td style="text-align: center;">
                                <p data-placement="top" data-toggle="tooltip" title="Edit">
                                    <button onclick="setIdAccept('{{id}}');" class="btn btn-primary btn-xs"
                                        data-title="Edit">
                                        <span class="fa fa-check"></span>
                                    </button>
                                </p>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-xs" data-title="Delete"
                                    onclick="setIdReject('{{id}}');" data-toggle="modal" data-target="#delete"><span
                                        class="fa fa-times"></span></button>

                            </td>
                        </tr>
                        {{/each}}

                    </tbody>
                </table>


                <div class="pagination" style="display: flex; justify-content: flex-end;">
                    <a href="#" id="prevpage">&laquo; Previous</a>
                    <select name="" id="currentPage" class="active" style="	appearance: none;"
                        onchange="selectPage({{totalPage}})">
                        <option value="{{page}}" selected>{{page}}</option>
                    </select>
                    <a href="#" onclick="next({{page}})" id="nextpage">Next &raquo;</a>
                </div>
                <div class="col-lg-12" style="text-align: center;">
                    <a href="/admin/add/user" class="btn btn-success">Thêm tài khoản</a>
                </div>
            </div>



        </div>
    </div>
    </div><!-- /.row -->
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
                            class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Xóa yêu cầu</h4>
                </div>
                <div class="modal-body">

                    <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Bạn có chắc
                        chắn muốn xóa yêu cầu này không?</div>

                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Quay lại</button>
                    <button type="button" class="btn btn-danger"
                        onclick="javascript:$('#frmReject').submit()">Xóa</button>

                </div>
            </div>


            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</main>