{{#section 'css'}}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">

<style>
    .tags {
        background: rgb(216, 216, 216);
        padding: 2px;
        margin-left: 3px;
        color: black;
        border: 1px solid rgb(207, 207, 207);
        box-shadow: 1px 2px rgb(224, 224, 224);
    }

    .company-img img {
        height: 100%;
        width: 240px;
        object-fit: cover
    }





    @media (max-width: 1024px) {
        .company-img {
            text-align: center;
            width: 100%;
        }
    }



    .single-job-items {
        background: rgb(255, 255, 255);
    }
</style>
{{/section}}

{{#section 'js'}}
<script>
    var x = +({{ pageCurrent }} || 2);
    var nPages = 6;

    {{#each page_numbers }}
    {{#if @last }}
    nPages = {{ value }}
    {{/if}}
    {{/each}}  

    var pre = Math.max(x, 2) - 1
    var next = Math.min(x, nPages - 1) + 1
    $(document).ready(function () {
        $("#btnPrePage").attr("href", "?page=" + String(pre));
        $("#btnNextPage").attr("href", "?page=" + String(next));

    });

</script>
{{/section}}


<main>


    <!-- breadcrumb Start-->
    <div class="page-notification">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            {{#if nameCat1}}
                            <li class="breadcrumb-item"><a href="/cat/{{data.0.keyCat1}}">{{nameCat1}}</a></li>
                            {{/if}}

                            {{#if nameCat2}}
                            <li class="breadcrumb-item"><a href="/cat/{{data.0.keyCat2}}">{{nameCat2}}</a></li>
                            {{/if}}

                            {{#if isTag}}
                            <li class="breadcrumb-item"><a href="#!">Tag</a></li>
                            {{/if}}
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb End -->

    <!-- Top Posts Start -->
    <div class="top-post-area">
        <div class="container">
            {{!-- <div class="row">
                <div class="col-12">
                    <div class="section-tittle mb-35">
                        <h2>Top Posts</h2>
                    </div>
                </div>
            </div> --}}
            <div class="row justify-content-lg-between">
                <div class="col-lg-9 col-md-8 mx-auto">

                    <!-- single-job-content -->
                    {{#if isEmpty}}
                    <div class="text-center alert alert-danger" role="alert">
                        <b> Không có dữ liệu!</b>
                    </div>
                    {{else}}
                    {{#each data}}
                    <div class="single-job-items mb-30">

                        <div class="job-items">
                            <div class="company-img">
                                <a href="/post?id={{id}}"><img src="{{urlPic}}"></a>
                            </div>

                            <div class="job-tittle" style="width: 100%;">

                                {{#if permission}}
                                <div class=" d-flex justify-content-start align-items-center mr-5 mb-0 mt-2">
                                    <i class="fa fa-star" aria-hidden="true" style="color: rgb(210, 175, 38);"></i>
                                    <span style="color: rgb(210, 175, 38); font-weight:bold; margin:0px">Premium</span>
                                </div>
                                {{/if}}


                                <div class="d-flex justify-content-between align-items-center mr-5">
                                    <div class="mr-auto">
                                        <a href="/cat/{{keyCat1}}/{{keyCat2}}">
                                            <p style="text-transform: uppercase;"> {{nameCat2}} </p>
                                        </a>
                                    </div>
                                    <div>
                                        <small>{{dateUpload}}</small>
                                    </div>
                                </div>

                                <a href="/post?id={{id}}">
                                    <h4 style="margin-bottom: 5px; margin-top:5px;">{{title}}</h4>
                                </a>
                                <p> {{summary}} </p>
                                <div class="mb-5 mt-2">
                                    {{#each listNameOfTag}}
                                    <a href="/tag/{{lookup ../this.listKeyOfTag @index}}"
                                        style="overflow-wrap: anywhere; display: {{#when @index 'gt' '3'}} none{{/when}}">
                                        <small class="tags">{{.}}</small>
                                    </a>
                                    {{/each}}
                                </div>

                            </div>
                        </div>
                    </div>
                    <hr>
                    {{/each}}
                    {{/if}}
                </div>

            </div>
        </div>
    </div>
    <!-- Top Posts End -->

    <!--Pagination Start  -->
    <div class="pagination-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="single-wrap d-flex justify-content-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start " id="myDIV">
                                <li class="page-item"><a id="btnPrePage" class="page-link" href=""><span
                                            class="ti-angle-left"></span></a></li>



                                {{#each page_numbers}}
                                {{#if isThreeDots}}
                                <li class="d-flex align-items-center">
                                    <i class="fas fa-ellipsis-h"></i>
                                </li>
                                {{else}}
                                <li class="page-item {{#if isCurrent}}active{{/if}}">
                                    <a class="page-link" href="?page={{value}}"> {{value}} </a>
                                </li>
                                {{/if}}
                                {{/each}}


                                {{!-- <li class="page-item active"><a class="page-link" href="#">01</a></li>
                                <li class="page-item"><a class="page-link" href="#">02</a></li>
                                <li class="page-item"><a class="page-link" href="#">03</a></li> --}}

                                <li class="page-item"><a id="btnNextPage" class="page-link" href="#"><span
                                            class="ti-angle-right"></span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Pagination End  -->

</main>