{{#section 'css'}}
<style>
    img {
        width: 90%;
        margin-top: 10px;
    }

    .source {
        display: none;
    }

    a {
        color: #212529;
    }

    .content-post .detail div {
        text-align: justify;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .imgcaption {
        text-align: center !important;
        margin-bottom: 5px;
    }

    .content-post {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto
    }

    @media (min-width:576px) {
        .content-post {
            max-width: 540px
        }
    }

    @media (min-width:768px) {
        .content-post {
            max-width: 720px
        }
    }

    @media (min-width:992px) {
        .content-post {
            max-width: 960px
        }
    }

    .content-post {
        background: white;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .content-post .ava-post {
        text-align: center;
    }

    .title {
        color: #212529;
        font-size: 3.6rem;
        line-height: 130%;
        padding-top: 10px !important;
        padding-bottom: 20px !important;
    }

    .details__author img {
        width: 32px;
        height: 32px;
        border-radius: 16px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        margin: 10px;

    }

    .details__author {
        padding-left: 10px;
    }

    .date-upload {
        padding-right: 10px;
    }

    .list-tag {
        margin-bottom: 50px !important;
    }

    .tags {
        background: rgb(216, 216, 216);
        padding: 2px;
        margin-left: 3px;
        color: black;
        border: 1px solid rgb(207, 207, 207);
        box-shadow: 1px 2px rgb(224, 224, 224);
    }

    #back-top i{
        color: #FFF;
    }
</style>

{{/section}}


<main>
    <!-- breadcrumb Start-->
    <div class="page-notification">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="/cat/{{post.keyCat1}}">{{post.nameCat1}}</a></li>
                            <li class="breadcrumb-item"><a href="/cat/{{post.keyCat1}}/{{post.keyCat2}}">{{post.nameCat2}}</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb End -->

    <!-- processing 2 arrays (choose 1 on 2 following way) -->
    <!--
    <div>
        {{#each post.keyTags}}
        {{.}} {{lookup ../post.nameTags @index}}
        {{/each}}
    </div>
    <hr>
    <div>
        {{#each post.arr.keyTags}}
        {{.}} {{lookup ../post.arr.nameTags @index}}
        {{/each}}
    </div>
    -->

    <!-- Post Details Stat -->
    <div class="content-post">
        {{!-- category name --}}
        <div class="mr-auto align-self-center pt-3">
            <b>{{post.nameCat2}}</b>
        </div>

        {{!-- title post --}}
        <div class="title">
            {{post.title}}
        </div>


        <div class="d-flex" style="background: #F7F7F7;">
            {{!-- writer's nickname --}}
            <div class="details__author mr-auto d-flex">
                <div class="align-self-center">
                    <img src="//static.thanhnien.vn/v3/App_Themes/img/no-ava.png">
                </div>
                <div class="align-self-center">
                    <h4> {{post.nickName}}</h4>
                </div>
            </div>
            {{!-- public date --}}
            <div class="date-upload align-self-center">
                {{post.dateUpload}}
            </div>
        </div>

        <div class="ava-post">
            <img src="{{post.urlPic}}" alt="">
            <div class="pswp-content__caption">
                <div class="imgcaption">
                    <p> Ảnh đại diện bài viêt </p>
                </div>
            </div>
        </div>

        {{!-- data from DB Start --}}
        {{{post.content}}}
        {{!-- data from DB End --}}


        <hr>

        {{!-- list tags --}}
        <div class="list-tag mb-5">
            <p>Tags</p>


            <div>
                {{#each post.listNameOfTag}}
                <a href="/tag/{{lookup ../post.listKeyOfTag @index}}" style="overflow-wrap: anywhere;">
                    <small class="tags">{{.}}</small>
                </a>
                {{/each}}
            </div>

            <!-- 
            {{#each post.listTag}}
            {{#when @index 'lt' '4'}}
            <a href="/tag/{{../this.key}}" style="overflow-wrap: anywhere;">
                <small class="tags">{{../this.name}}</small>
            </a>
            {{/when}}
            {{/each}}
            -->

        </div>
        <br>

    </div>
    <!-- Post Details End -->

    <!--comments Area -->
    <div class="content-post mt-5">
        <div class="coments-area pb-80">
            <div class="container">
                <div class="row ">
                    <div class="col-xl-12">
                        <div class="small-tittle mb-30">
                            <h2>Drop your message</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-11">
                        <div class="single-comments mb-40">
                            <div class="comments-items">
                                <div class="comments-img">
                                    <a href="#"><img src="assets/img/gallery/comment-img1.png" alt=""></a>
                                </div>
                                <div class="comments-tittle">
                                    <a href="#">
                                        <h4>Kristiana</h4>
                                    </a>
                                    <span>2 days ago</span>
                                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed
                                        quia
                                        consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-11">
                        <div class="single-comments mb-30 ml-80">
                            <div class="comments-items">
                                <div class="comments-img">
                                    <a href="#"><img src="assets/img/gallery/comment-img2.png" alt=""></a>
                                </div>
                                <div class="comments-tittle">
                                    <a href="#">
                                        <h4>Jonson Alex</h4> <span class="author">Author</span>
                                    </a>
                                    <span>2 days ago</span>
                                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed
                                        quia
                                        consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Form -->
                <div class="row">
                    <div class="col-lg-12">
                        <!-- contact-form -->
                        <div class="form-wrapper pt-80">
                            <div class="row ">
                                <div class="col-xl-12">
                                    <div class="small-tittle mb-30">
                                        <h2>Drop your message</h2>
                                    </div>
                                </div>
                            </div>
                            <form id="contact-form" action="#" method="POST">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-box user-icon mb-15">
                                            <input type="text" name="name" placeholder="Enter your name">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-box email-icon mb-15">
                                            <input type="text" name="email" placeholder="Enter your email">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-box email-icon mb-15">
                                            <input type="text" name="email" placeholder="Website">
                                        </div>
                                    </div>
                                    <!-- <div class="col-lg-12 col-md-6 mb-15">
                                        <div class="select-itms">
                                            <select name="select" id="select2">
                                                <option value="">Topic</option>
                                                <option value="">Topic one</option>
                                                <option value="">Topic Two</option>
                                                <option value="">Topic Three</option>
                                            </select>
                                        </div>
                                    </div> -->
                                    <div class="col-lg-12">
                                        <div class="form-box message-icon mb-15">
                                            <textarea name="message" id="message" placeholder="Comment"></textarea>
                                        </div>
                                        <div class="submit-info">
                                            <button class="submit-btn2" type="submit">Leave Comment</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--comments Area End -->

    <!-- Latest Posts Area -->
    <div class="content-post mt-5">
        <div class="latest-posts pt-80 pb-80">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-tittle mb-35">
                            <h2>Latest Posts</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-baner-nw2 mb-30">
                            <div class="banner-img-cap2">
                                <div class="banner-img">
                                    <img src="assets/img/gallery/trend1.png" alt="">
                                </div>
                                <div class="banner-cap2">
                                    <p>Technology</p>
                                    <h3><a href="post_details.html">The pomelo case: scope of plant rights in China</a>
                                    </h3>
                                    <p class="blog-text" style="text-transform: normal !important;">Indie folks start
                                        out by
                                        making something they want to read, that tell stories they want told..</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-baner-nw2 mb-30">
                            <div class="banner-img-cap2">
                                <div class="banner-img">
                                    <img src="assets/img/gallery/trend2.png" alt="">
                                </div>
                                <div class="banner-cap2">
                                    <p>Technology</p>
                                    <h3><a href="post_details.html">The pomelo case: scope of plant rights in China</a>
                                    </h3>
                                    <p class="blog-text" style="text-transform: normal !important;">Indie folks start
                                        out by
                                        making something they want to read, that tell stories they want told..</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-baner-nw2 mb-30">
                            <div class="banner-img-cap2">
                                <div class="banner-img">
                                    <img src="assets/img/gallery/trend3.png" alt="">
                                </div>
                                <div class="banner-cap2">
                                    <p>Technology</p>
                                    <h3><a href="post_details.html">The pomelo case: scope of plant rights in China</a>
                                    </h3>
                                    <p class="blog-text" style="text-transform: normal !;">Indie folks start out by
                                        making
                                        something they want to read, that tell stories they want told..</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>