{{#section 'css'}}

<style>
    .carousel-inner img {
        width: 100%;
        height: 360px;
        object-fit: cover;

    }

    .carousel-caption {
        position: relative;
        left: 0;
        top: 0;
        background-color: rgba(186, 191, 196, 0.9);
        padding-left: 50px;
        padding-right: 50px;
        text-align: justify;
        color: black;
    }

    .card-img-new-post {
        width: 80px;
        height: 80px;
        object-fit: cover;
    }

    .card:hover {
        transform: scale(1.02);
        box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);


    }

    .carousel:hover {
        transform: scale(1.02);
        box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
    }

    .card h3:hover {
        color: rgb(76, 62, 201) !important
    }

    .card-text {
        color: black;
    }
</style>

{{/section}}


<main>
    <div class="container mt-50">
        <div class="row">
            <div class="col-12 col-xl-8">
                <!-- Bai viet noi bat nhat Start-->
                <div class="row ">
                    <div class="trending-news" style="width: 100%;">
                        <div class="section-tittle section-tittle2">
                            <h1> <b> Bài viết nổi bật</b></h1>
                        </div>
                        <div id="demo" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ul class="carousel-indicators">
                                <li data-target="#demo" data-slide-to="0" class="active"></li>
                                <li data-target="#demo" data-slide-to="1"></li>
                                <li data-target="#demo" data-slide-to="2"></li>
                                <li data-target="#demo" data-slide-to="3"></li>
                            </ul>

                            <!-- The slideshow -->
                            <div class="carousel-inner">
                                {{!-- https://handlebarsjs.com/api-reference/data-variables.html#root --}}
                                {{#each bai_viet_noi_bat_nhat}}
                                <div class="carousel-item {{#if @first}}active{{/if}}">
                                    <a href="/post?id={{id}}"><img src="{{urlPic}}" alt=""></a>

                                    <div class="carousel-caption ">
                                        <a href="/post?id={{id}}">
                                            <h3 class="section-tittle2" style="color: black;"> {{title}} </h3>
                                            <a href="/cat/{{keyCat1}}/{{keyCat2}}"><span>{{nameCat2}} </span></a>
                                            <br>
                                            <p class="text-right">{{dateUpload}}</p>
                                        </a>
                                    </div>

                                </div>
                                {{/each}}

                            </div>

                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#demo" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Bai viet noi bat  End -->


                <!-- Bai viet duoc xem nhieu nhat Start -->
                <hr>
                <div class="row mb-20">
                    <div class="section-tittle section-tittle2 ">
                        <h1> <b style="margin-left: 15px;"> Bài viết xem nhiều nhất </b></h1>
                    </div>
                </div>
                <div class="row">
                    {{#each bai_viet_duoc_xem_nhieu_nhat}}
                    <div class="col-12 col-md-6 mb-10">
                        <div class="">
                            <div class="card">
                                <img src="{{urlPic}}" class="card-img" style="height: 180px; object-fit:cover">
                                <div class="card-body">
                                    <a href="/post?id={{id}}">
                                        <p class="card-text text-justify"
                                            style="height:40px; line-height: 1.2; font-size: 11pt; color:black">
                                            <b>{{title}}</b>
                                        </p>
                                    </a>
                                    <a href="/cat/{{keyCat1}}/{{keyCat2}}"><small
                                            class="card-text">{{nameCat2}}</small></a>
                                </div>
                                <div class="card-footer text-right">
                                    <small class="text-muted ">{{dateUpload}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>


            </div>

            {{!-- spacing col --}}
            {{!-- <div class="col-xl-1"></div> --}}

            <!-- Bai viet moi nhat (tat ca cac chuyen muc) Start-->
            <div class="col-12 col-xl-4 ">
                <div class="section-tittle section-tittle2 ml-lg-4">
                    <h1> <b> Bài viết mới nhất </b></h1>
                </div>

                {{#each bai_viet_moi_nhat}}
                <div class="row ml-lg-1">
                    <div class="col-12 mb-10">
                        <div class="card mb-10" style="border-radius: 10px;">
                            <div class=" d-flex">
                                <div class="align-self-center"><img class="card-img-new-post" src="{{urlPic}}" alt="">
                                </div>
                                <div class="m-2">
                                    <div
                                        style="display:flex;flex-direction: column; justify-content: space-between; height:100%">
                                        <div class="">
                                            <a href="/post?id={{id}}">
                                                <p style="color: black;line-height: 1.2; font-size: 11pt"
                                                    class="card-text text-justify">
                                                    <b>{{title}}</b>
                                                </p>
                                            </a>
                                        </div>

                                        <div>
                                            <a href="/cat/{{keyCat1}}/{{keyCat2}}"><small
                                                    class="card-text">{{nameCat2}}</small></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-right">
                                <small class="text-muted">{{dateUpload}}</small>
                            </div>
                        </div>

                    </div>
                </div>
                {{/each}}
            </div>
            <!-- Bai viet moi nhat (tat ca cac chuyen muc) Start-->
        </div>

        <!-- Bai viet duoc xem nhieu nhat End -->


        <!-- Bai viet moi nhat theo tung chuyen muc Start -->
        <hr>
        <div class="row">
            <div class="section-tittle section-tittle2 mb-20">
                <h1> <b> Bài viết mới theo từng chuyên mục </b></h1>
            </div>
        </div>

        <div class="row">

            {{#each bai_viet_moi_nhat_theo_tung_chuyen_muc}}
            {{#each this}}

            <div class="col-12 col-md-4 col-lg-3 mb-20">
                <div>
                    <a href="/cat/{{keyCat1}}/{{keyCat2}}">
                        <h3> <b>{{nameCat2}}</b></h3>
                    </a>
                </div>

                <div class="card-deck" style="height: 250px;">
                    <div class="card">
                        <img src="{{urlPic}}" class="card-img" alt="..." style="height: 120px; object-fit:cover">
                        <div class="card-body">
                            <a href="/post?id={{id}}">
                                <p class="card-text text-justify" style="line-height: 1.2; font-size:11pt">
                                    <b>{{title}}</b>
                                </p>
                            </a>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">{{dateUpload}}</small>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
            {{/each}}
        </div>
        <!-- Bai viet moi nhat theo tung chuyen muc End -->

    </div>


</main>