{{#section 'css'}}
<title>Edit Post</title>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

{{!-- plug in File input krajee start--}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.min.css"
  crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.2/css/fileinput.min.css" media="all"
  rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.2/themes/fas/theme.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous">
</script>

<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.2/js/fileinput.min.js"></script>
{{!-- plug in File input krajee end--}}


{{/section}}

{{#section 'js'}}
{{!-- Taginput --}}
{{!--
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css"> --}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>
{{!-- Taginput --}}
<script type="text/javascript" src="/assets/admin/tinymce/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/admin/tinymce/plugin/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="/assets/admin/tinymce/plugin/tinymce/init-tinymce.js"></script>
<script type="text/javascript" src="/assets/admin/tinymce/js/getdata.js"></script>

<script>
  const title1 = 'writing / editpost'; const title2 = 'Edit post'; const title3 = 'Edit post';
  const id1 = document.getElementById('title1'); const id2 = document.getElementById('title2'); const id3 = document.getElementById('title3');
  id1.innerHTML = title1; id2.innerHTML = title2; id3.innerHTML = title3;
</script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
  $(document).ready(function () {
    var table = $('#example').DataTable();
    $('#example tbody').on('click', 'tr', function () {
      if ($(this).hasClass('selected')) {
        $(this).removeClass('selected');
      }
      else {
        table.$('tr.selected').removeClass('selected');
        $(this).addClass('selected');
      }
    });
  });
</script>

<script>
  $(document).ready(function () {
    $("#btnsubmit").click(function () {


    })
  })
</script>

<script>
  function xoa_dau(str) {
    str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a");
    str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, "e");
    str = str.replace(/ì|í|ị|ỉ|ĩ/g, "i");
    str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, "o");
    str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u");
    str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y");
    str = str.replace(/đ/g, "d");
    str = str.replace(/À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ậ|Ẩ|Ẫ|Ă|Ằ|Ắ|Ặ|Ẳ|Ẵ/g, "A");
    str = str.replace(/È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ệ|Ể|Ễ/g, "E");
    str = str.replace(/\s\s+/g, ' ');
    str = str.replace(/  +/g, ' ');

    return str;
  }
  function get_key(str) {
    newstr = xoa_dau(str);
    var array = newstr.split(' ');
    newstr = array.join('-');
    return newstr;
  }



  function splitString(stringToSplit, separator) {
    const arrayOfStrings = stringToSplit.split(separator)

    console.log('The original string is: ', stringToSplit)
    console.log('The separator is: ', separator)
    console.log(arrayOfStrings)
    arrayOfStrings.forEach(element => {
      var input1 = document.createElement("input");
      input1.type = "text";
      input1.style = "display: none;";
      element = xoa_dau(element);
      input1.value = "#" + element;
      input1.name = "listNameOfTag[]";
      document.getElementById("tagSubmit").appendChild(input1);
      //<input type="text" name="listNameOfTag[]" style="display: none;">

      var input2 = document.createElement("input");
      var key = get_key(element);
      input2.type = "text";
      input2.style = "display: none;";
      input2.value = key;
      input2.name = "listKeyOfTag[]";
      document.getElementById("tagSubmit").appendChild(input2);
      //<input type="text" name="listNameOfTag[]" style="display: none;">

    });

  }


  function _submit(type) {
    //alert("123");
    splitString($("#tags").val(), ',');

    var keyCat1 = $("#cat1").val();
    var nameCat1 = $("#cat1 option:selected").text();
    var keyCat2 = $("#cat2").val();
    var nameCat2 = $("#cat2 option:selected").text();

    $("#keyCat1").val(keyCat1);
    $("#keyCat2").val(keyCat2);
    $("#nameCat1").val(nameCat1);
    $("#nameCat2").val(nameCat2);


    //console.log($("#keyCat1").val(), $("#nameCat1").val(), $("#keyCat2").val(), $("#nameCat2").val());
    //console.log(("#tags").tagsinput('items'));

    if (type === 1) {
      var img = $("#input-id")[0].files.length;
      alert(img)
      //check empty input
      //...
      //change action
    }
    else if (type === 0) {

    }
    //$("#addPostForm").submit();
  }

</script>
<script>
  $(document).ready(function () {
    $("#tagSubmit").find('input').remove();
  });
</script>
<script src="/assets/admin/js/getlistcat2_exceptAll.js"></script>



{{/section}}
<main>
  <form class="form-horizontal" action="" method="POST" id="addPostForm">
    <input type="text" name="views" id="" value="0" style="display: none;">
    {{!-- <input type="text" name="rejectingReason" id="" value="" style="display: none;">
    <input type="text" name="status" id="" value="" style="display: none;">
    <input type="text" name="dateUpload" value="" style="display: none;"> --}}


    <input type="text" name="urlPic" id=""
      value="https://image.thanhnien.vn/2048/uploaded/phanthuong/2021_08_13/titiemoquan12_afpz.jpg"
      style="display: none;">

    <div class="form-group" style="text-align: center;">
      <label for="inputEmail3" class="col-sm-1 control-label">Title</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="title" name="title" placeholder="Title" value="{{this.db.title}}">
      </div>
    </div>
    <div class="form-group">
      <input type="text" name="keyCat1" id="keyCat1" value="" style="display: none;">
      <input type="text" name="nameCat1" id="nameCat1" value="" style="display: none;">
      <input type="text" name="keyCat2" id="keyCat2" value="" style="display: none;">
      <input type="text" name="nameCat2" id="nameCat2" value="" style="display: none;">

      <label for="inputPassword3" class="col-sm-1 control-label">Topic 1</label>
      <div class="col-lg-2">

        <select class="form-control" aria-label="Default select example" id="cat1" onchange="getval(this);">
          <option selected>{{this.db.nameCat1}}</option>
          {{#each lcCategory}}
          <option value="{{keyCat1}}">{{nameCat1}}</option>
          {{/each}}
        </select>
      </div>
      <label for="inputPassword3" class="col-sm-1 control-label">Topic 2</label>
      <div class="col-lg-2">
        <select class="form-control" aria-label="Default select example" id="cat2">
          <option selected>{{this.db.nameCat2}}</option>
        </select>
      </div>

    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-1 control-label">Premium</label>
      <div class="col-sm-2">
        <select class="form-control" aria-label="Default select example" id="cat1" onchange="getval(this);"
          name="permission">
          <option value='0'>Không</option>
          <option value='1' selected>Có</option>

        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-1 control-label">Summary</label>
      <div class="col-sm-10">
        <textarea name="summary" type="text" class="form-control" id="inputPassword3"
          placeholder="Summary">{{this.db.summary}}</textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-1 control-label">Tag</label>
      <div class="col-sm-10">
        <input type="text" value="" data-role="tagsinput" id="tags" placeholder="Add tags" />
        <div id='tagSubmit'>
        </div>
        {{#each this.db.listNameOfTag}}
        <textarea id="tagName">{{this}}</textarea>
        <script>
          var tags = document.getElementById("tags");
          var tagName = document.getElementById("tagName");
          tags.value = tags.value + tagName.value + ", ";
          tagName.remove();
        </script>
        {{/each}}
      </div>

    </div>


    <!-- Modal -->

    {{!-- Avatar post --}}
    <div class="form-group" style="text-align: center;">
      <label for="inputEmail3" class="col-sm-1 control-label">Avatar</label>
      <div class="col-sm-10">
        {{!-- <input id="avaPost" name="avaPost" type="file" class="file" data-show-upload="false"
          data-show-caption="true" data-msg-placeholder="Select {files} for upload..."> --}}
        <input id="input-id" type="file" data-msg-placeholder="Select image for upload..." style="text-align: center;">
        <button type="button" class="btn btn-success" id="previewAvaPost" style="margin-top: 5px ;">Preview</button>

        <script>
          var urlAva = 'https://image.thanhnien.vn/uploaded/longnt/2021_08_01/14384d6be44713194a56_ezwo.jpg';
          //alert(urlAva);
          $("#input-id").fileinput({
            overwriteInitial: true,
            showUpload: false,
            showZoom: false,
            browseOnZoneClick: true,
            browseLabel: 'Browse',
            showBrowse: true,
            browseClass: 'btn btn-info',
            previewClass: 'text-center',
            defaultPreviewContent: '<img src="' + urlAva + '" style = "height:400px;"  alt="Your Avatar">',
            showCaption: false,
          });
        </script>

      </div>
    </div>
    <hr>
    <div style="margin-bottom: 20px;">
      <h4><b>
          Content</b></h4>
      <textarea class="tinymce" id="texteditor" name="content">{{this.db.content}}</textarea>
    </div>
    <div class="" style="text-align: center; ">
      <button type="button" class="btn btn-info" id="btnsubmit" onclick="_submit(1)"> Submit </button>
      <button type="button" class="btn btn-danger" id="btncancel"> Cancel </button>
      {{!-- <a href="./viewpost" class="btn btn-danger">Cancel</a> --}}
    </div>
    {{!-- <div id="data-container"></div> --}}
  </form>

</main>