<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <title>Magazine News</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- icon  -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/slicknav.css">
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <link rel="stylesheet" href="/assets/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="/assets/css/gijgo.css">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/animated-headline.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/assets/css/slick.css">
    <link rel="stylesheet" href="/assets/css/nice-select.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <!--Menu css + fonts -->
    <link rel="stylesheet" href="/assets/css/style-menu.css">
    <link rel="stylesheet" href="/assets/fonts/icomoon/style-menu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        body {
            background: #F7F7F7;
        }

        .icon-contact a:hover {
            color: #4d67a3;
        }

        .icon-contact a {
            color: #072366;
        }

        footer .name-column {
            font-size: large !important;
            color: #072366 !important;
        }

        footer .product a {
            color: #072366 !important;
        }

        footer .product a:hover {
            color: #072366 !important;
            font-weight: bold;
        }

        footer .product p {
            margin-bottom: 10px;
        }
    </style>
    {{{_sections.css}}}
</head>

<body>
    <form id="frmLogout" action="/user/logout" method="POST"></form>

    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="/assets/img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start-->
    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header ">
                <div class="header-top ">
                    <div class="container-fluid">
                        <div class="col-xl-12">
                            <div class="row d-flex justify-content-lg-between align-items-center">
                                <div class="header-info-left">
                                    <li class="d-none d-lg-block">
                                        <div class="site-mobile-menu site-navbar-target">
                                            <div class="site-mobile-menu-header">
                                                <div class="site-mobile-menu-close mt-3">
                                                    <span class="icon-close2 js-menu-toggle"></span>
                                                </div>
                                            </div>
                                            <div class="site-mobile-menu-body"></div>
                                        </div> <!-- .site-mobile-menu -->

                                        <div class="d-flex">
                                            <div class="align-self-center site-navbar left-cta-menu mr-3">
                                                <a href="#" class="site-menu-toggle js-menu-toggle d-xl-none-menu"><span
                                                        class="icon-menu"></span></a>
                                            </div>

                                            <div class="align-self-center form-box f-right mb-0">
                                                <input class="mb-0" type="text" name="Search"
                                                    placeholder="Search your interest...">
                                                <div class="search-icon mb-0">
                                                    <i class="ti-search"></i>
                                                </div>
                                            </div>

                                        </div>
                                    </li>
                                </div>
                                <div class="header-info-mid">
                                    <!-- logo -->
                                    <div class="">
                                        <!-- <a href="index.html"><img src="/assets/img/logo/logo.png" alt=""></a> -->
                                        <a href="/">
                                            <h1 style="
                                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                                        font-size: 32pt;">
                                                Báo DKM</h1>
                                        </a>
                                    </div>
                                </div>

                                {{#if auth}}
                                <nav class="navbar navbar-expand-md navbar-light d-none d-lg-block"
                                    style="position:relative; z-index: 2000; ">
                                    <div id="navbarCollapse" class="">
                                        <ul class="nav navbar-nav ml-auto">
                                            <li class="nav-item dropdown">
                                                <a href="#" class="nav-link dropdown-toggle dropdown-toggle-custom"
                                                    data-toggle="dropdown">
                                                    Hi, {{dataUser.nameOfUser}}
                                                </a>
                                                <div
                                                    class="dropdown-menu dropdown-menu-custom dropdown-menu-right-custom">
                                                    <a href="/user/profile" class="dropdown-item dropdown-item-custom">
                                                        <i class="fa fa-user mr-10" aria-hidden="true"></i>Profile
                                                    </a>
                                                    {{#if isPremium}}
                                                    <a href="#" class="dropdown-item dropdown-item-custom"><i
                                                            class="fas fa-arrow-alt-circle-up mr-10"></i>Nâng
                                                        cấp</a>
                                                    {{/if}}
                                                    <a href="#" class="dropdown-item dropdown-item-custom"><i
                                                            class="fas fa-arrow-alt-circle-up mr-10"></i>Nâng
                                                        cấp</a>

                                                    <a href="#" class="dropdown-item dropdown-item-custom"><i
                                                            class="fa fa-comments-o mr-10" aria-hidden="true"></i>Góp
                                                        ý</a>

                                                    <div class="dropdown-divider dropdown-divider-custom"></div>
                                                    <a href="javascript: $('#frmLogout').submit();"
                                                        class="dropdown-item dropdown-item-custom"><i
                                                            class="fa fa-sign-out mr-10" aria-hidden="true"></i>
                                                        Logout</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                                {{else}}
                                <div class="header-info-right d-flex align-items-center">
                                    <ul>
                                        <li>
                                            <a href="/user/login">
                                                <button class="genric-btn primary-border radius">
                                                    Login</button>
                                            </a>
                                        </li>

                                        {{!-- <li><a href="/about">About</a></li> --}}
                                    </ul>
                                    <!-- Social -->
                                    <div class="header-social d-none d-xl-block">
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-google"></i></a>

                                    </div>

                                </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-bottom">

                    <!-- NAVBAR -->
                    <div class="site-navbar mt-3">
                        <div class="">
                            <div class="row align-items-center">
                                <nav class="mx-auto site-navigation">
                                    <ul class="site-menu js-clone-nav d-none d-xl-block-menu ml-0 pl-0">

                                        {{#each lcCategory}}
                                        <li class="has-children">
                                            <a href="/cat/{{keyCat1}}" class="nav-link"
                                                style="text-transform: uppercase;">{{nameCat1}}</a>
                                            <ul class="dropdown">
                                                {{#each listCat}}
                                                <li><a href="/cat/{{../keyCat1}}/{{keyCat2}}">{{nameCat2}}</a>
                                                </li>
                                                {{/each}}
                                            </ul>
                                        </li>
                                        {{/each}}

                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>

                    <div class="site-mobile-menu site-navbar-target d-inline-block d-lg-none">
                        <div class="site-mobile-menu-header">
                            <div class="site-mobile-menu-close mt-3">
                                <span class="icon-close2 js-menu-toggle"></span>
                            </div>
                        </div>
                        <div class="site-mobile-menu-body"></div>
                    </div> <!-- .site-mobile-menu -->

                    <div class="mobile-menu">
                        <div class="d-flex justify-content-between mb-10">
                            <div class="site-navbar left-cta-menu my-auto ml-0">
                                <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none ml-0">
                                    <span class="icon-menu"></span>
                                </a>
                            </div>

                            <div class="text-center my-auto mx-auto">
                                <a href="#" style="color: rgb(20, 12, 64); ">Báo DKM</a>
                            </div>

                            <div class="my-auto">
                                {{#if auth}}
                                <nav class="navbar navbar-expand-md navbar-light "
                                    style="position:relative; z-index: 2000; ">
                                    <div id="navbarCollapse" class="">
                                        <ul class="nav navbar-nav ml-auto">
                                            <li class="nav-item dropdown">
                                                <a href="#" class="nav-link dropdown-toggle dropdown-toggle-custom"
                                                    data-toggle="dropdown">
                                                    Hi, {{dataUser.nameOfUser}}
                                                </a>
                                                <div
                                                    class="dropdown-menu dropdown-menu-custom dropdown-menu-right-custom">
                                                    <a href="/user/profile" class="dropdown-item dropdown-item-custom">
                                                        <i class="fa fa-user mr-10" aria-hidden="true"></i>Profile
                                                    </a>
                                                    {{#if isPremium}}
                                                    <a href="#" class="dropdown-item dropdown-item-custom"><i
                                                            class="fas fa-arrow-alt-circle-up mr-10"></i>Nâng
                                                        cấp</a>
                                                    {{/if}}
                                                    <a href="#" class="dropdown-item dropdown-item-custom"><i
                                                            class="fas fa-arrow-alt-circle-up mr-10"></i>Nâng
                                                        cấp</a>

                                                    <a href="#" class="dropdown-item dropdown-item-custom"><i
                                                            class="fa fa-comments-o mr-10" aria-hidden="true"></i>Góp
                                                        ý</a>

                                                    <div class="dropdown-divider dropdown-divider-custom"></div>
                                                    <a href="javascript: $('#frmLogout').submit();"
                                                        class="dropdown-item dropdown-item-custom"><i
                                                            class="fa fa-sign-out mr-10" aria-hidden="true"></i>
                                                        Logout</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                                {{else}}
                                <ul>
                                    <li><a href="/user/login" style="color: rgb(20, 12, 64);"><button
                                                class="genric-btn primary-border radius"> Login</button></a></li>
                                </ul>
                                {{/if}}
                            </div>
                        </div>

                        <div class="d-flex justify-content-end">
                            <div class="form-box mb-0 d-flex" style="width: 250px; padding: 0px">
                                <input class="mb-0" type="text" name="Search" placeholder="Search your interest...">
                                <div class="search-icon mb-0 align-items-center"
                                    style="height: 50px; width:50px; padding-top:15px; padding-left:15px; border: 1px solid #eaeaea">
                                    <i class="ti-search my-auto"></i>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>

    {{{body}}}

    <div class="container">
        <hr style=" border-top:black solid 2px; ">
    </div>
    <footer>
        <!-- Footer Start-->
        {{!-- https://mdbootstrap.com/snippets/standard/mdbootstrap/2885008?view=side --}}
        <!-- Remove the container if you want to extend the Footer to full width. -->
        <div class="container my-5">

            <!-- Footer -->
            <div class="text-center text-lg-start text-white" style="background-color: ">
                <!-- Section: Social media -->
                <section class="d-flex justify-content-center p-4" style="background-color:">
                    <!-- Left -->

                    <div class="icon-contact">
                        <a href="" class=" me-4 px-3" style="">
                            <i class="fab fa-facebook-f fa-2x" style=""></i>
                        </a>

                        <a href="" class=" me-4 px-3">
                            <i class="fab fa-twitter fa-2x"></i>
                        </a>
                        <a href="" class=" me-4 px-3 ">
                            <i class="fab fa-google fa-2x"></i>
                        </a>
                        <a href="" class=" me-4 px-3">
                            <i class="fab fa-instagram fa-2x"></i>
                        </a>
                        <a href="" class=" me-4 px-3">
                            <i class="fab fa-linkedin fa-2x"></i>
                        </a>
                        <a href="" class=" me-4 px-3">
                            <i class="fab fa-github fa-2x"></i>
                        </a>
                    </div>
                    <!-- Right -->
                </section>
                <!-- Section: Social media -->

                <!-- Section: Links  -->
                <section class="">
                    <div class="container text-center text-md-start mt-5">
                        <!-- Grid row -->
                        <div class="row mt-3">
                            <!-- Grid column -->
                            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                                <!-- Content -->
                                <h6 class="text-uppercase name-column">Company name</h6>
                                <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                    style="width: 60px; background-color: #7c4dff; height: 2px" />
                                <p style="text-align: justify;">
                                    Here you can use rows and columns to organize your footer
                                    content. Lorem ipsum dolor sit amet, consectetur adipisicing
                                    elit.
                                </p>
                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto  mb-4 product">
                                <!-- Links -->
                                <h6 class="text-uppercase name-column">Products</h6>
                                <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                    style="width: 60px; background-color: #7c4dff; height: 2px" />
                                <p>
                                    <a href="#!">MDBootstrap</a>
                                </p>
                                <p>
                                    <a href="#!">MDWordPress</a>
                                </p>
                                <p>
                                    <a href="#!">BrandFlow</a>
                                </p>
                                <p>
                                    <a href="#!">Bootstrap Angular</a>
                                </p>
                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 product">
                                <!-- Links -->
                                <h6 class="text-uppercase name-column">Useful links</h6>
                                <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                    style="width: 60px; background-color: #7c4dff; height: 2px" />
                                <p>
                                    <a href="#!">Your Account</a>
                                </p>
                                <p>
                                    <a href="#!">Become an Affiliate</a>
                                </p>
                                <p>
                                    <a href="#!">Shipping Rates</a>
                                </p>
                                <p>
                                    <a href="#!">Help</a>
                                </p>
                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                                <!-- Links -->
                                <h6 class="text-uppercase name-column">Contact</h6>
                                <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                    style="width: 60px; background-color: #7c4dff; height: 2px" />
                                <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
                                <p><i class="fas fa-envelope mr-3"></i> info@example.com</p>
                                <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                                <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
                            </div>
                            <!-- Grid column -->
                        </div>
                        <!-- Grid row -->
                    </div>
                </section>
                <!-- Section: Links  -->

                <!-- Copyright -->

                <!-- Copyright -->
            </div>
            <!-- Footer -->

        </div>
        <!-- End of .container -->

        <!-- footer-bottom area -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-xl-9 col-lg-8">
                            <div class="footer-copy-right text-center">
                                <p>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;
                                    <script>
                                        document.write(new Date().getFullYear());
                                    </script> All rights reserved | This template is made with <i class="fa fa-heart"
                                        aria-hidden="true"></i> by <a href="https://colorlib.com"
                                        target="_blank">Colorlib</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>

    <!-- Scroll Up -->
    <div id="back-top">
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->

    <script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="/assets/js/jquery.slicknav.min.js"></script>

    <!--Menu custom-->
    <script src="/assets/js/menu.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="/assets/js/wow.min.js"></script>
    <script src="/assets/js/animated.headline.js"></script>
    <script src="/assets/js/jquery.magnific-popup.js"></script>

    <!-- Date Picker -->
    <script src="/assets/js/gijgo.min.js"></script>
    <!-- Nice-select, sticky -->
    <script src="/assets/js/jquery.nice-select.min.js"></script>
    <script src="/assets/js/jquery.sticky.js"></script>
    <!-- Progress -->
    <script src="/assets/js/jquery.barfiller.js"></script>

    <!-- counter , waypoint,Hover Direction -->
    <script src="/assets/js/jquery.counterup.min.js"></script>
    <script src="/assets/js/waypoints.min.js"></script>
    <script src="/assets/js/jquery.countdown.min.js"></script>
    <script src="/assets/js/hover-direction-snake.min.js"></script>

    <!-- contact js -->
    <script src="/assets/js/contact.js"></script>
    <script src="/assets/js/jquery.form.js"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/js/mail-script.js"></script>
    <script src="/assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/main.js"></script>
    {{{_sections.js}}}


</body>

</html>